
<div *ngIf ="newFormReservation == 0">
  <H1>Slobodni stolovi</H1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Broj stola</th>
      <th scope="col">Kapacitet stola</th>
      <th scope="col">Rezervisi</th>

    </tr>
  </thead>
  <tbody *ngFor="let a of tablesfree">
    <tr >
      <th scope="row">{{ a.id }}</th>
      <td>{{a.kapacitet}}</td>
      <td><button (click)="rezervisi(a.id)" class="btn btn-primary">Rezervisi</button></td>
    </tr>
  </tbody>
</table>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div *ngIf="newFormReservation == 1">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->



    <div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Rezervisi sto broj: broj stola stoji</h1>
                    </div>

                        <div class="form-group"> <input class="form-control" type="text" placeholder="Ime i prezime" [(ngModel)]="reservation.ime_gosta"> <span class="form-label">Ime i prezime</span> </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group"> <input class="form-control" type="datetime-local" required [(ngModel)]="reservation.datum"> <span class="form-label">Datum rezervacije</span> </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group"> <select class="form-control" required [(ngModel)]="reservation.broj_gostiju">
                                        <option value="" selected hidden>Broj gostiju</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select> </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <input class="form-control" type="email" placeholder="Unesite Email" [(ngModel)]="reservation.email"> <span class="form-label">Email</span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <input class="form-control" type="tel" placeholder="Unesite broj telefona"[(ngModel)]="reservation.broj_telefon"> <span class="form-label">Phone</span> </div>
                            </div>
                        </div>
                        <div class="form-btn"> <button class="submit-btn" (click)="reserve()">Rezervisi</button> </div><br>
                        <div class="form-btn"> <button class="submit-btn" (click)="otkazi()">Otkazi</button> </div>

                </div>
            </div>
        </div>
    </div>
</div>



  </div>
</div>
</div>
