<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="navbar-brand" [routerLink]="['homepage']" src="https://png.pngtree.com/templates/20180809/restaurant-logos-png-png_25706.jpg"style="border-radius: 50%;height: 100px;width: 100px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['reservation']">Rezervisi mjesto </a>
        </li>
        <li class="nav-item" *ngIf = "servis.logovan == false">
          <a class="nav-link" [routerLink]="['adminLogin']" >Log in</a>
        </li>
        <li class="nav-item" *ngIf = "servis.logovan == true">
          <a class="nav-link" (click) ="odjavi()" >Odjavi se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
